<div class="br-mainpanel" style="background: #f3f3f3 !important">
    <div class="br-pagetitle">       
        <div style="width: 100%;" class="container-fluid text-center">           

            <img src="<?php echo BASE_URL; ?>img/undercons.png" style="max-width: 100%;"/>
            <br>

        </div>
    </div>
</div>    
