<section class="page-error" style="
    background: #f4f4f4;
    padding-top: 30px;
">
    <div class="container">
        <div class="panel panel-default panel-error">
            <div class="panel-body">
                <img src="https://www.dlsu.edu.ph/wp-content/uploads/2018/12/page-under-construction-tokwarcher.jpg" class="img-responsive"/>
            </div>
        </div>
    </div> 
</section>