body{
    font-family: "Poppins" !important;
}.br-menu-item{
        margin: 8px 0px !important;
}li.br-menu-item i {
    font-size: 16px !important;
}.actions-btns a {
    margin-right: 8px;
}.form-layout.form-layout-4.sitesettings p {
    margin-bottom: 0px;
    color: #797979;
}.matrial_img {
    width: 65px;
    height: 50px;
}.actions-btns a {
    margin-right: 15px;
}.br-header-right .dropdown-menu.dropdown-menu-header .logged-fullname {
    word-break: break-word;
}.br-header-right .dropdown-menu.dropdown-menu-header p {
    word-break: break-all;
}.search form{
    margin-top: -5px;
    margin-bottom: 6px;
}.br-section-wrapper.addproducts .form-layout-4 {
    padding: 15px;
}.request-details h5 {
    color: #000;
    font-size: 18px;
    border-bottom: 2px solid #f3f0f0;
    padding-bottom: 12px;
    margin-bottom: 25px;
    margin-top: 15px;
}.request-details label, .request-details .colon-style {
    color: #000;
    font-weight: 500;
}  
.actions-btns { 
    display: flex;
}.br-mainpanel .br-pagetitle h4{
font-size: 20px !important;
}.br-pagebody {
    margin-top: 13px;
}a.btn.addbtn {
    padding: 8px 10px !important;
}.search ul {
    margin-bottom: 5px;
}.search input, .search .statusfilter select {
    height: 40px !important;
}
.head-tr {
    background: #e1e4f2;
    color: #000;
}.modal-header .modal-title {
    font-size: 18px;
}.modal-content .modal-body label {
    margin-top: 11px;
}.modal-header button.close {
    opacity: 1;
    font-size: 23px;
}.form-layout.form-layout-4.sitesettings {
    padding-top: 15px !important;
}ul.added_img li img {
    width: 80px;
    height: 60px;
}ul.added_img li .remove-file,ul.added_img li .remove i {
    color: #fff;
    margin-left: 5px;
    margin-right: 7px;
    background: red;
    padding: 5px 5px;
    border-radius: 8px;
}.addform select {
    height: 43px !important;
}span.finalprice {
    margin-left: 8px;
    font-weight: 600;
        color: #000;
}h5.addproduct_last {
    color: #585656;
}.br-section-wrapper.addproducts .clearfix.form-actions.row.submit-cancel {
    margin-left: 0px;
}.img-responsive.slider_img {
    width: 80px;
    height: 50px;
}i.fa.fa-times.remove_attribute:hover {
    cursor: pointer;
}
.head-tr td {
    padding: 5px 10px;
}
.table.table-bordred {
    border: 1px solid #dee2e6;
}
.table.table-bordred th,.table.table-bordred td {
    white-space: nowrap;
}.btn-outline-password {
    color: #ff7600;
    border: 1px solid;
    padding: 6px;
    font-size: 12px;
    background: #fff;
}.views.row .caption .table tr td {
    border: unset;
}
.table-responsive {
    max-width: 100%;
    overflow-x: auto;
}.sitesettings span.input-group-addon {
    background: #fff;
    border-radius: 8px !important;
        font-weight: 600;
    width: 54px;
    font-size: 14px;
        color: #000;
}.sitesettings .input-group-addon:not(:last-child) {
    border-right: 1px solid #e1e1e1e1;
    z-index: 9;
}.sitesettings .input-group input {
    border-radius: 8px !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    margin-left: -5px;
    border-left: unset !important;
    padding-left: 22px !important;
        height: 46px !important;
}.table .thead-dark > tr > th, .table .thead-dark > tr > td {
    background-color: #00A9F2;
}.addbtn {
    background: #fff !important;
    color: #000 !important;
}.label-Active {
    background: #04b304;
    color: #fff;
    border-radius: 8px;
    padding: 4px 11px;
    font-size: 12px;
}.label-Inactive {
    background: red;
     color: #fff;
    border-radius: 8px;
    padding: 4px 11px;
    font-size: 12px;
}a.label-Active:hover,a.label-Inactive:hover {
    color: #ffff;
}a.btn.addbtn i {
    margin-right: 4px;
}.btn-outline-view {
    color: #00d0ff;
    border: 1px solid;
    padding: 6px;
    font-size: 12px;
    background: #fff;
}.btn.btn-outline-delete:hover {
    color: #05407c;
}.btn-outline-edit {
    color: #0ed20e;
    border: 1px solid;
    padding: 6px;
    font-size: 12px;
    background: #fff;
}.btn.btn-outline-delete {
    color: #ff008dbd;
    border: 1px solid;
    padding: 6px;
    font-size: 12px;
    background: #fff;
}.search .searchform{
    float: left;
}.search .statusfilter{
    float: right;
}.statusfilter label{
    margin-right:10px;
}.addform input, .addform select, .addform textarea, .addform .select2-container--default .select2-selection--multiple {
    border-radius: 9px !important;
}.userdp{
    width:100px;
    height:80px;
}.addform {
    padding: 20px; 
}.suwala-doubleScroll-scroll-wrapper {
    width: 100% !important;
}.addproducts form.validation_form.addform {
    padding: 0px;
}.addproducts label {
    white-space: nowrap;
}.thumbnail.viewdetail td {
    padding: 22px 16px;
        padding-left: 30px;
    padding-right: 30px;
}.thumbnail.viewdetail {
    padding-top: 40px;
    padding-bottom: 30px;
}.thumbnail.viewdetail table.table.table-borderless.table-striped {
    margin: 0px;
}.thumbnail.viewdetail .table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(123, 123, 123, 0.05);
}.thumbnail.viewdetail .views{
    border: 1px solid #e1e1e1;
    border-radius: 9px;
}.thumbnail.viewdetail .table-striped tbody tr:nth-of-type(odd) {
    background-color: #fff;
}.thumb.thumb-rounded.thumb-slide img {
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.route-li li a.active {
    background: linear-gradient(to right, #1CAF9A 0%, #17A2B8 100%);
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
}.route-li li a{
    color: #333;
    display: block;
}.btn.btn-cancel {
    background: #ED2E5B;
    color: #fff;
    padding: 11px 20px;
    margin-left: 25px;
}.submit-cancel {
    margin-left: 15px;
    margin-top: 35px !important;
    border-top: 1px solid #e1e1e1;
    padding-top: 28px;
    padding-bottom: 30px;
}.br-header-right .nav-link-profile i.fas.fa-chevron-down {
    font-size: 10px;
    margin-left: 3px;
}
.list-unstyled.route-li li {
    margin-bottom: 10px;
}
.active.page-link {
    background: #1D2939;
    color: #fff;
}
.basic thead th {
    color: #fff !important;
}.br-header-right .dropdown.notificationddown {
    margin-top: -6px;
}.br-header-right .nav-link-profile {
    margin-top: 2px;
    padding-left: 0px;
}.br-header-right .nav-link-profile span.square-10.bg-success {
    bottom: 6px;
}
.basic thead {
    background: #1D2939;
    color: #fff;
}.custom-file-control-primary::before {
    background-color: #159CD6;
    color: #fff;
    border: 1px solid #159CD6;
    border-radius: 9px;
}span.custom-file-control.custom-file-control-primary {
    border: 2px solid #f1f1f1;
    border-radius: 11px;
}.logged-name{
    color:#000;
} .adminlogin .bg-br-primary {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(https://www.nalanjewel.com/development/app/webroot/img/adminbg.jpg);
    position:relative;
        /*background:linear-gradient(87deg, #3c3c3c 0, #000 100%) !important;*/
    }
/*new style*/
button.width-35.btn-block.btn.btn-sm.btn-danger {
    cursor: pointer;
}
.btn-info {
    color: #fff;
    background: linear-gradient(87deg, #00A9F2 0, #0276a9 100%) !important;
    border-color: #00A9F2 !important;
    border: 2px solid #00A9F2;
    cursor: pointer;
}.br-menu-link.active {
    background-image: linear-gradient(to right, #00A9F2 0%, #00A9F2 100%);
    background-repeat: repeat-x;
    color: #fff !important;
    border-left: 3px solid #fff;
}
.btn-info:hover, .btn-info:focus {
    color: #fff !important;
    background-color: #fff !important;
    box-shadow: 0 0 0 3px rgba(6, 6, 7, 0.11);
}.tx-info {
    color: #F06313 !important;
}.br-sideleft{
    background:linear-gradient(87deg, #159CD6 0, #159CD6 100%) !important;
    padding: 0px;
}.br-menu-link:hover, .br-menu-link:focus {
    color: #000 !important;
    background-color: #fff !important;
    transition: unset;
}.form-layout-4 {
    border: unset !important; 
}
.sitesettings .custom-file{
width:100%;
}
.modal-content{
    width:500px;
}.menu-item-label{
        margin-left: 11px;
}.navicon-right a.pos-relative {
    font-size: 15px;
}.br-sideleft-menu .icon {
    font-size: 20px !important;
}.br-pagetitle .icon {
    font-size: 33px !important;
}.sitesettings .row {
    margin-bottom: 15px;
}.btn:focus, .sp-container button:focus, .btn.focus, .sp-container button.focus {
    box-shadow: 0 0 0 3px rgba(255, 168, 71, 0.25) !important;
}.validation_form label {
    color: #000;
    font-weight: 500;
}.custom-file-control{
    color:#CECED0;
}button.btn.btn-green {
    background: #3CB879;
    color: #fff;
    cursor: pointer;  
}.forgotpassword {
    width: 37%;
    margin: auto;
    margin-top: 10%;
}.forgotpassword .login-form .text-center {
    margin-bottom: 18px;

}.forgotpassword .login-form .text-center .content-group {
    margin-top: 16px;
    padding-bottom: 26px;
}.forgotpassword .login-form .form-group {
    background: #fff !important;
    padding: 26px 23px;
    margin-bottom: 0px;
    margin-top: -15px;
}.forgotpassword .login-form .text-center a {
    position: relative;
    top: 17px;
    font-weight: 500;
}.provider_logo {
    width: 150px;
    height: 105px;
}
.orderdetails .img-responsive.order-product-image {
    width: 90px;
    height: 90px;
}.orderdetails .my-product-det .table td {
    vertical-align: middle;
    color: #000;
}.orderdetails .over-all-price th, .over-all-price td {
    border-top: unset;

}.over-all-price {
    color: #000;
} .br-menu-link{
    color: #fff !important;
}.br-menu-sub{
    background-color: #159CD6;
    padding-left:0px;
}.br-menu-sub .sub-link.active {
    color: #fff;
    background: #00A9F2;
}.br-menu-sub .sub-link.active::before {
    background-color: #fff;
}.br-menu-link.with-sub::after {
    content: "\f078";
}.br-menu-sub .sub-link {
    color: #fff;
    padding-left: 30px;
}.br-menu-sub .sub-link:hover, .br-menu-sub .sub-link:focus {
   color: #000 !important;
    background: #fff;
}.br-menu-sub .sub-link:hover::before, .br-menu-sub .sub-link:focus::before{
    background-color:#000 !important;
    width: 13px;
    left: 16px;
}.br-menu-sub .sub-link::before{
        left: 20px;
}.br-menu-sub .sub-link.active::before {
    width: 13px;
    left: 17px;
}a.br-menu-link.active .icon {
    margin-left: -6px;
}.la.la-bell {
        font-size: 22px;
        margin-top: 6px;
}li.br-menu-item.menuhide {
    display: none;
}.contactus .form-group{
        display: flex;
}
.contactus label.control-label {
        color: black;
        font-weight: 500;
}
/*Order details*/
.orderdetails  .form-control {
    width: 89px;
}
.orderdetails  .user-address h5 i {

    margin-right: 6px;

}
.orderdetails  .table.table-borderless.text-right.over-all-price td {
    float: right;
} 
.orderdetails   .table.table-borderless.text-right.over-all-price td span{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}
.orderdetails .table.table-borderless.prodet td span{
    float: left;
    margin-top: 10px;
    margin-right: 10px;
    width: 100px;
}.orderdetails .table.table-borderless.prodet td input {
    margin-bottom: 5px;
}
.orderdetails .col-sm-10.waiting {
    color: red;
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}
.orderdetails .label.label-Quotation {
    background: #ff00a7;
    color: #fff;
    padding: 2px 15px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;

}.orderdetails .br-section-wrapper {
    padding: 15px 15px !important;
}.orderdetails .prescriptionimages {
    padding: 11px 15px;
    margin-bottom: -16px;
}.orderdetails .prescriptionimages a {
    width: 100%;
    text-align:left;
}.orderdetails .prescriptionimages i {
    float: right;
    font-size: 23px;
    margin-top: -3px;
}.orderdetails .prescriptionimages img {
    width: 190px;
}
.orderdetails .user-address .user p {
    line-height: 2px;
}.orderdetails .user-address .user label {
    color: #4f546a;
}.orderdetails .search_medicine .form-control {
    width: 100% !important;
} .orderdetails .prescriptionimages .col-md-3 img {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
}.br-menu-link:hover {
    text-decoration: none !important;
}.user-address .heading-design-h5 {
    color: #4f546a;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: -9px;
}.table.table-striped.table-bordered {

    background: #fff;

}.select2-container--default .select2-results__option[aria-selected="true"] {
    background-color: #e1e1e1 !important;
}
.search ul li {
    margin-right: 8px;
}.chosen-container-single .chosen-single span{
    margin-top: 5px;
}.row.total_img h2 {
    font-size: 27px;
}
#example_filter {

    display: none;

}.dt-buttons {
    float: right;
    position: absolute;
    top: 22%;
    z-index: 99999 !important;
    right: 60px;
    background: linear-gradient(87deg, #3c3c3c 0, #000 100%) !important; 
    border-radius: 3px;
    width: 100px;
    height:30px;
}.addproduct_last{
    color: #000;
    margin-top: 60px; 
}
.table-bordered th, .table-bordered td{
    vertical-align: middle;    
}.dt-buttons a {
    padding:0px 37px;
    color: #fff;
    position: relative;
    top: 4px;
}.table-bordered {
    border: 1px solid #dee2e6 !important;
}.thead-colored.thead-dark tr th {
    color: #fff;
}.modal-header h4 {
    margin-top: 0px !important;
}.br-menu-link.with-sub::after{    
    font-weight:600 !important;
    font-family: Font Awesome\ 5 Free;
    font-size: 11px;
    margin-top: 4px;

}.br-menu-link:hover .br-menu-link.with-sub::after{
    color:#000 !important;
}.br-menu-link.show-sub {
    background-color: #fff !important;
    color:#000 !important;
}.pwdfld {
    background: transparent !important;
    border: none;
}.allvendors .col-md-7 .table tr td {
    border: unset;
}.navicon-right {
    background: #DAB546;
    border-color: #DAB546;
}h5.addproduct_title {
    color: #000;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #e1e1e1;
    padding-bottom: 17px;
    font-size: 17px;
}.radio-inline input {
    margin-right: 3px;
}.radio-inline {
    margin-right: 30px;
}option:disabled {
    background: #ececec;
}
.addproduct_title.first{
     margin-top: 0px !important;
}.ui-datepicker .ui-datepicker-header .ui-datepicker-next, .ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
    text-indent: 0px !important;
    color: #868e96;
    top: 1px;
}.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:before,.ui-datepicker .ui-datepicker-header .ui-datepicker-next:before{
    content:none;
}.table.table-striped.table-bordered tr td {
    color: #000;
    font-size: 13px;
}.user-profile-nav a span {
    margin-left: 5px;
}.user-profile-nav a i.la {
    font-size: 19px;
}.btn-lg{
    font-size: 14px !important;
  
}button.btn.btn-green:hover {
    background: #15633b;
}a.btn.btn-cancel:hover {
    background: #c32147;
}.sweet-alert.showSweetAlert.visible .sa-button-container button.cancel.btn.btn-lg.btn-default:hover {
    background: #e1e1e1;
}.sweet-alert.showSweetAlert.visible .sa-button-container .btn-lg:hover, .sweet-alert.showSweetAlert.visible .sa-button-container button.cancel.btn.btn-lg {
    cursor: pointer;  
}
select.ui-datepicker-month, select.ui-datepicker-year {
    padding: 2px 5px;
}
@media (min-width: 576px){
    .br-pagetitle {
    display: flex;
    align-items: center;
    padding-top: 19px;
    padding-left: 13px;
    padding-right: 15px;
}
}
@media (min-width: 992px){
    .br-section-wrapper {
        padding: 21px !important;
    }
    .search .input-group input{
        width: 250px;
    }
}
@media(max-width:992px){
    .forgotpassword{
        width: 100%;
    }.hidden-xs-down {
        display: inline-flex !important;
    }.modal.effect-flip-vertical.show .modal-dialog {
        transform: translate(-50%,-50%) !important;
        opacity: 1;
        position: absolute !important;
        left: 50% !important;
        top: 50% !important;
        width: 90% !important;
        margin-left: 0px !important;
    }.modal-content {
        width: 100% !important;
    }.form-layout-4, .form-layout-5 {
        padding: 0px 11px;
    }span.select2.select2-container.select2-container--default {
        width: 100% !important;
    }.orderdetail {
        padding: 0px;
        border: unset;
    }.orderdetail .table tbody > tr > th{
        font-size: 11px;
        white-space: nowrap;
    }.orderdetail .table td {
        vertical-align: middle;
        white-space: nowrap;
        font-size: 13px;
    }.orderdetail .my-product-det table td {
        white-space: normal;
        padding: 9px;
    }.br-pagetitle h4 span {
        margin-right: 10px;
        position: relative;
        top: 4px;
    }.ui-helper-hidden-accessible {

        display: none;

    }.green.label.label-Available{
        padding: 3px 2px;
    }.orderdetail .my-product-det table td h5 {

        white-space: nowrap;
        font-size: 13px;

    }
}
@media(max-width:500px){
    .br-section-wrapper {
        padding: 30px 20px !important;
    }.dropdown.notificationddown .logged-name {
        display: block !important;
    }.table-wrapper {
        overflow: hidden;
        overflow-x: scroll;
    }.br-pagetitle .col-md-6 .btn-group {
        float: unset !important;
    }.search ul {
        display: block !important;
        width: 100%;
    }.search ul li{
        margin-bottom: 10px;
    }.search form {
        margin-bottom: 0px !important;
    }.allvendors  .nav-tabs li {
        width: 100%;
        text-align: center;
    }.label.label-Active, .green.label.label-In.Stock, .label.label-Active{
        padding:2px 4px;
    }.modal-open .modal{
        z-index: 9999999999;
    }.br-pagetitle h4{
    font-size: 18px;
    }.thumbnail.viewdetail table.table.table-borderless.table-striped{
    	display: block;
    overflow-x: scroll;
    }.thumbnail.viewdetail td {
    padding: 15px 0px;
    padding-left: 16px;
    padding-right: 30px;
    text-align: left !important;
}.thumbnail.viewdetail .col-8.m-auto {
    margin: 0px;
    max-width: 100%;
}
}
